.user-notes-list-view {
    display: inline-block;
    width: 100%;
    margin-top: 30px;

    .empty-note-details-div {
        margin-top:15%;

        .empty-note-image {
            text-align: center;

            img {
                width: 150px;
            }
        }

        .empty-note-text {
            color: #969595;
            text-align: center;
            font-size: 25px;
        }

        .add-note-button {
            float: none;
            text-align: center;
            margin-top: 20px;
            margin-right: 0px;
        }
    }
}

.add-note-button {
    margin-top: 100px;
    float: right;
    margin-right: 30px;

    button {
        padding: 10px 15px;
        border-radius: 5px;
        border: solid 1px #ad8cfa;
        background: transparent;
        color: #ad8cfa;
        transition: all 0.2s ease;

        &:hover {
            background: #ad8cfa;
            color: white;
            cursor: pointer;
            box-shadow: 0 10px 30px 0 rgb(202 196 255);
        }
    }
}

.tabs {
    display: inline-block;
    margin-top: 108px;
    margin-left: 3%;

    span {
        padding: 10px 15px;
        border-radius: 16px;
        color: grey;  
        transition: all 0.4s ease;
        
        &:hover {
            cursor: pointer;
        }

        .note-count {
            background: #9386ea;
            color:white;
            border-radius: 50%;
            display: inline-block;
            width: 20px;
            height: 20px;
            padding: 1px;
            text-align: center;
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .active {
        background: #9386ea;
        color: white;

        .note-count {
            background: white;
            color: grey;
        }
    }
}