.user-note {
    color: black;
    width: 21.5%;
    margin: 0 0 0 3%;
    background: white;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: all 0.2s ease;

    .user-note-head-bar {
        .status-label {
            width: 15px;
            float: right;
            background: green;
            height: 15px;
            border-radius: 50%;
            margin-top: 15px;
            margin-right: 15px;

        }

        .active {
            background: #0fbb0f;
        }

        .inactive {
            background: #cccccc;
        }

        .user-note-title {
            color: #232e75;
            font-size: 22px;
            margin: 15px;
            width: 80%;
            height: 70px;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .user-note-description {
        color: #adaeaf;
        font-size: 15px;
        margin: 18px 15px;
        font-family: sans-serif;
        height: 75px;
        margin-top: 0px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.2px;
        white-space: pre;
    }

    .note-updation-date {
        font-size: 15px;
        letter-spacing: 1px;
        word-spacing: 1px;

        .note-updation-string {
            margin-left: 15px;
            font-weight: 600;
            color: #9c9b9b;
            font-size: initial !important;
            letter-spacing: initial !important;
            word-spacing: initial !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &:hover {
        box-shadow: 0px 11px 22px 12px rgb(0 0 0 / 12%);
        cursor: pointer;
    }
}